<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div>
                <header>
                    <h2>{{title}}</h2>
                </header>

                <p>
                    {{content}}
                </p>
                {{#if imagePath}}
                <img src="{{imagePath}}" width="200" alt="Article image">
                {{/if}}
                <br/>
                <small class="author">
                    {{author.fullName}}
                </small>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-success btn-xs" href="/article/edit/{{id}}">Edit &raquo;</a>
                        <a class="btn btn-danger btn-xs" href="/article/delete/{{id}}">Delete &raquo;</a>
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                    <br/>
                   <div class="pull-left">
                       <a class="btn btn-default btn-xs" href="/article/postcomment/{{id}}">Comment &raquo;</a>
                   </div>
                </footer>

            </article>


        </div>
    </div>
</div>
